@import "reset.css";

html {
    float: left;
    width: 100%;
}

body {
    float: left;
    width: 100%;
    opacity: 1;
}

.private-chat {
    float: left;
    width: 100%;
}

.private-chat__header {
    font-size: 12px;
    line-height: 22px;
    padding: 13px 0;
    float: left;
    width: calc(100% - 60px);
    margin: 18px 30px 0;
    color: #606060;
    background-color: #dedede;
    position: relative;
}

.private-chat__header::after {
    border-bottom: 10px solid #dedede;
}

.speech-bubble {
    z-index: 1;
    border-radius: 5px;
    font-family: NotoSansCJKkr, 'NotoSansCJKkr', sans-serif;
    text-align: center;
}

.speech-bubble::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.speech-bubble::after {
    top: -10px;
}

.speech-bubble > * {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.font--color_orange {
    color: rgba(251, 83, 0, 0.8);
}

.private-chat__background {
    float: left;
}

.ask-card-background {
    display: none;
    width: 100%;
    background: #d2d0d0;
    height: 300px;
    position: relative;
}

.a11y-hidden {
    overflow: hidden;
    position: absolute;
    clip:     rect(0 0 0 0);
    clip:     rect(0,0,0,0);
    width:    1px;
    height:   1px;
    margin:   -1px;
    border:   0;
    padding:  0;
}

.ask-card-background__profile-circle {
    position: absolute;
    left: 50%;
    bottom: -58.5px;
    transform: translateX(-50%);
}

.profile-circle {
    border-radius: 50%;
    background: #f0f0f0;
    width: 117px;
    height: 117px;
    text-align: center;
}

.private-chat__information {
    float: left;
}

.ask-card-information {
    display: none;
    padding-bottom: 30px;
    width: 100%;
}

.user-info {
    text-align: center;
    width: 100%;
}

.ask-card-information__user-info {
    float: left;
}

.user-info {
    margin-top: 70px;
}

.user-info__lv-icon {
    display: inline-block;
}

.user-info__lv-icon > img {
    vertical-align: bottom;
}

.user-info__id {
    font-family: NotoSansCJKkr, 'NotoSansCJKkr', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #323232;
    cursor: pointer;
}

.user-today-word {
    margin-top: 10px;
    text-align: center;
    font-family: NotoSansCJKkr, 'NotoSansCJKkr', sans-serif;
    font-size: 12px;
    color: #2b2b2b;
    width: 100%;
    min-height: 13px;
}

.ask-card-information__user-today-word {
    float: left;
}

.button {
    cursor: pointer;
    border: 2px solid #d1d1d1;
    background-color: transparent;
    outline: none;
}

.button:focus {
    border: 2px solid #2a9ed4;
}

.button-container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.ask-card-information__button-container {
    float: left;
}

.button--ok {
    width: 140px;
    height: 45px;
}

.button--cancel {
    width: 140px;
    height: 45px;
    margin-left: 4px;
}

.button--activated {
    background: #47baf4;
    border-color: #47baf4;
    color: #ffffff;
}

.background-section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.private-chat__chatting {
    float: left;
}

.chatting-app {
    width: 100%;
    display: none;
}

.chatting-app__header {
    float: left;
    width: 100%;
    padding: 18px 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.chatting-app__my-img {
    float: left;
    position: relative;
    margin-right: 8px;
}

.chatting-app__lv-icon {
    position: absolute;
    top: -8px;
    left: -8px;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    background: #ffffff;
    width: 25px;
    height: 25px;
}

.chatting-app__lv-icon > img {
    width: 13px;
    height: 13px;
}

.chatting-app__profile {
    float: left;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    overflow: hidden;
    background: #efefef;
}

.chatting-app__profile-img {
    width: 100%;
    height: 100%;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.chatting-app__my-info {
    float: left;
    font-family: NotoSansCJKkr, 'NotoSansCJKkr', sans-serif;
    color: #262626;
    margin-right: 8px;
}

.chatting-app__name {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.chatting-app__today-word {
    font-size: 12px;
    margin-top: 5px;
}

.chatting-app__complaint {
    width: 25px;
    height: 25px;
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.center-item-in-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chatting-app__article {
    float: left;
}

.chat-record {
    width: 100%;
    box-shadow: 0 2px 5px 0 #d5d5d5 inset;
    background: #efefef;
    height: 430px;
    position: relative;
}

.chat-record__list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    padding: 15px;
}

.chat-record__item {
    width: 100%;
    font-family: NotoSansCJKkr, 'NotoSansCJKkr', sans-serif;
    font-size: 12px;
    float: left;
}

.chat-record__item--me {
    text-align: right;
    float: right;
}

.chat-record__item--you {
    text-align: left;
    float: left;
}

.chat-record__user {
    display: block;
    color: #424242;
    user-select: none;
}

.chat-record__text {
    display: inline-block;
    margin: 5px 0 10px 0;
    color: #000000;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    animation-duration: 0.6s;
    animation-fill-mode:  both;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.chat-record__text::before, .chat-record__text::after {
    content: '';
    display: inline-block;
    position: absolute;
}

.chat-record__item--you .chat-record__user {
    float: left;
    cursor: pointer;
}

.chat-record__item--you .chat-record__text {
    float: left;
    clear: left;
    margin-left: 8px;
    border-radius: 0 6px 6px;
    background: #ffffff;
    padding: 10px 10px 10px 15px;
    animation-name: speech-bubble-you;
}

.chat-record__item--you .chat-record__text::before, .chat-record__item--you .chat-record__text::after {
    border-right: 0 solid transparent;
    border-left: 8px solid transparent;
    left: -8px;
}

.chat-record__item--you .chat-record__text::before {
    border-top: 10px solid rgba(0, 0, 0, 0.05);
    top: 1px;
}

.chat-record__item--you .chat-record__text::after {
    border-top: 10px solid #fff;
    top: 0;
}

.chat-record__item--me .chat-record__user {
    float: right;
}

.chat-record__item--me .chat-record__text {
    float: right;
    clear: right;
    margin-right: 8px;
    border-radius: 6px 0 6px 6px;
    background: #b0e0fa;
    padding: 10px 15px 10px 10px;
    animation-name: speech-bubble-me;
}

.chat-record__item--me .chat-record__text::before, .chat-record__item--me .chat-record__text::after {
    border-left: 0 solid transparent;
    border-right: 8px solid transparent;
    right: -8px;
}

.chat-record__item--me .chat-record__text::before {
    border-top: 10px solid rgba(0, 0, 0, 0.05);
    top: 1px;
}

.chat-record__item--me .chat-record__text::after {
    border-top: 10px solid #b0e0fa;
    top: 0;
}

.chat-record__dotted-line {
    margin: 20px 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-right: none;
    border-left: none;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #bfbfbf;
    color: #707070;
}

.chat-record__dotted-line::after {
    content: attr(data-title);
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0 10px;
    transform: translate(-50%, -50%);
    background: #efefef;
    font-size: 11px;
    white-space: nowrap;
}

.typing-sign {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-size: 11px;
    color: #707070;
    visibility: hidden;
    width: 100%;
    text-align: center;
}

.chatting-app__input {
    float: left;
}

.chat-input {
    width: 100%;
    height: 90px;
    padding: 15px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
}

.chat-input__text {
    border: none;
    width: calc(100% - 70px);
    overflow-y: auto;
    overflow-X: hidden;
    font-size: 12px;
    line-height: 1.5;
    padding: 2px 4px;
    transition: all 0.3s ease;
    resize: none;
}

.chat-input__text:focus {
    outline: none;
}

.chat-input__text:hover {
    box-shadow: 1px 1px 3px 0 #ddd inset;
}

.chat-input__button {
    width: 60px;
    border-radius: 5px;
    border: solid 1px #d9d9d9;
    font-family: NotoSansCJKkr, 'NotoSansCJKkr', sans-serif;
    font-size: 12px;
}

.complaint-layer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    border: 1px solid #d6d6d6;
    background: #ffffff;
}

.complaint__header {
    height: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #fcfcfc;
    border-bottom: 1px solid #f4f4f4;
    font-size: 14px;
    float: left;
    width: 100%;
}

.complaint__body {
    float: left;
    width: 100%;
    padding: 20px 20px 0 20px;
}

.complaint__kind {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #666666;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complaint__textarea {
    float: left;
    width: 100%;
    height: 135px;
    border: 1px solid #e5e5e5;
    margin-top: 15px;
    color: #757575;
    padding: 8px 10px;
    font-size: 12px;
}

.complaint__footer {
    float: left;
    width: 100%;
    padding: 0 20px 20px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.complaint__submit {
    display: inline-block;
    width: 65px;
    height: 35px;
    border: 1px solid #e6e6e6;
    background: #f7f7f7;
    color: #333333;
    float: left;
    font-size: 14px;
}

.complaint__submit:last-child {
    margin-left: 2px;
}

.complaint__submit--activated {
    color: #ffffff;
    background: #e82d0c;
    border: 1px solid #db2a0b;
}

.button--close {
    position: relative;
    width: 15px;
    height: 15px;
    border: none;
}

.button--close::before, .button--close::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 2px;
    background: #b0b0b0;
    top: 50%;
}

.button--close::before {
    transform: translateY(-50%) rotateZ(45deg);
}

.button--close::after {
    transform: translateY(-50%) rotateZ(-45deg);
}

.chatting-app--activated, .ask-card-background--activated, .ask-card-information--activated, .chatting-app--activated, .complaint-layer--activated {
    display: block;
}
.typing-sign--activated {
    visibility: visible;
}

.userPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    font-size: 10px;
    z-index: 2;
}

.userPanel__dl {
    float: left;
    width: 100%;
}

.userPanel__dt {
    margin: 0;
    text-align: center;
    background: #636363;
    color: #dddddd;
    border: 1px solid #505050;
    padding: 4px 0;
}

.userPanel__dd {
    margin: 0;
    background: #dfdfdf;
    color: #666666;
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #888888;
    border-left: 1px solid #888888;
    padding: 4px 8px;
    cursor: pointer;
}

.userPanel__dd:hover {
    background: #ffffff;
    transition: background 0.1s ease-in-out;
}

.userPanel__dd::before {
    content: url(img/private_chat_user_panel_icon.jpg);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 4px;
    float: left;
    margin-top: 0.5px;
}

.userPanel__dd:last-of-type {
    border-bottom-color: #888888;
}

.background-holder {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

.background-holder--activated {
    display: block;
}

@keyframes speech-bubble-me {
    0% {
        opacity: 0;
        right: -20px;
    }
    50% {
        right: 5px;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}

@keyframes speech-bubble-you {
    0% {
        opacity: 0;
        left: -20px;
    }
    50% {
        left: 5px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
